img[data-src] {
    filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
    margin: auto;
}

h1 {
    margin: auto;
}

body {
    display: grid;
    margin: 0 auto;
    text-align: center;
}