body {
	font-size: 20px;
	font-family: "Inter", sans-serif;
}

header, footer {
    color: white;
    background-color: #5A056C;
    text-align: center;
    margin: 0;
    padding: .5rem;
}

main {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
}

main section {
    padding: 5px;
	margin: 0.5rem;
	border: 1px solid black;
	background-color: #eee;
    border-radius: 5px;
}

main h3 {
    color: white;
    background-color: #5A056C;
    padding: 5px;
}

main p, a {
    margin: 1rem;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-top: 1rem;
}