:root {
    --darkbrown: #472b1f;
    --yellow: #ffc520;
    --darkyellow: #a4741e;
    --tan: #BB8C4A;
}

p {
	font-family: 'Montserrat', sans-serif;
}

a, h1, h2, h3, h4 {
	font-family: 'Bitter', serif;
}

.chamber-title h1, .bottom-chamber-title {
	font-family: 'Smokum', serif;
	font-size: 3rem;
}

header {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 1fr;
	background-color: var(--darkbrown);
	color: white;
	align-items: center;
	padding: 5px;
}

.header-logo {
	margin-right: 10px;
}

header h1 {
	margin-bottom: -15px;
}

.social {
	display: inline;
}

/* nav stuff starts here */

.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
}

.navigation a:hover {
	background-color: var(--tan);
}

#menu::before {
	content: "≡";
	font-size: 2em;
	padding: 5px 10px;
	border: solid white 1px;
}

#menu:hover {
	background-color: var(--darkbrown);
}

.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
	font-size: 1em;
}

/* nav stuff ends here */

.date {
    color: black;
	margin: 0.5rem;
	border: 1px solid var(--darkyellow);
	padding: 0.75rem;
	background-color: var(--tan);
	text-align: center;
	grid-column: 1/5;
}

main section {
	background-color: var(--tan);
	color: black;
	border: 1px solid var(--darkyellow);
	margin: 15px 5px;
	height: auto;
	box-shadow: 0px 0px 10px black;
	text-align: center;
}

.weekly-banner {
	display: none;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	padding: 1% 2%;
	background-color: var(--darkbrown);
	color: var(--yellow);
	border: 5px solid var(--yellow);
}

.hero {
	position: relative;
}

#hero-img {
	width: 100%;
	height: 100%;
}

.hero h2 {
	font-size: 1.5em;
	position: absolute;
	top: 1%;
	left: 5%;
	color: var(--darkyellow);
	text-shadow: var(--darkbrown) 2px 2px;
}

.hero h3 {
	position: absolute;
	top: 50%;
	left: 60%;
	color: var(--yellow);
	background-color: var(--darkbrown);
	width: 30%;
	padding: 2%;
	border-radius: 10px;
	box-shadow: 0px 0px 15px black;
}

.hero p {
	display: none;
}

.event h4 {
	margin-top: 0;
}

.more-info {
	color: var(--yellow);
	font-size: .8em;
	background-color: var(--darkbrown);
	margin-left: 25%;
	margin-right: 25%;
	padding: 1%;
	border-radius: 10px;
	box-shadow: 0px 0px 15px black;
}

.weather {
	width: 60%;
	margin: auto;
}

.weather h4 {
	font-size: 2em;
	text-align: left;
	margin: 0 0 5% 20%;
}

.weather-type {
	text-align: right;
	margin: 0 10%;
	padding-bottom: 2%;
	font-size: 1.5em;
	border-bottom: 1px solid var(--darkbrown);
}

.news-release {
	height: auto;
	padding: 5%;
}

.news-release h3 {
	margin-top: 0;
}

.spotlights {
	padding: 5%;
}

.spotlights div {
	width: 95%;
	margin: auto;
	padding: 3%;
	border: 1px solid var(--darkyellow);
	box-shadow: 0px 0px 10px black;
}

.spotlights h3 {
	height: 40%;
	width: 90%;
	margin: 2% 3%;
	padding: 1%;
}

.slogan {
	border-bottom: 1px solid var(--darkbrown);
	margin: 0 5%;
}

.spotlight-contact {
	font-size: .8em;
	margin: 0;
}

#third-spotlight {
	display: none;
}

.join {
	display: none;
}

.gallery-img img {
	width: 90%;
	margin: 5% 0%;
}

.gallery-img-description {
	margin-top: -3%;
	text-align: center;
}

.demographics-title {
	color: white;
	background-color: var(--darkbrown);
	text-align: center;
	padding: 3%;
	height: fit-content;
	margin: auto;
}

.demographics-question {
	display: none;
}

.demographics-answer {
	color: white;
	background-color: var(--darkbrown);
	text-align: center;
	padding: 3%;
	height: fit-content;
	margin: auto;
}

.last-visited {
	height: fit-content;
	margin: 0 auto;
	text-align: center;
	padding: 1% 2%;
	background-color: var(--darkbrown);
	color: var(--yellow);
	width: 100%;
}

.disclaimer {
	grid-column: 1/6;
	text-align: center;
	background-color: var(--darkbrown);
	color: var(--yellow);
	margin: 2% auto;
	padding: 1%;
	width: 80%;
}

footer {
	background-color: var(--darkbrown);
	color: white;
	text-align: center;
	padding: 5px;
}

footer img {
	padding: 10px;
}

footer h1 {
	display: none;
}

.bottom-info {
	border-top: 1px solid var(--tan);
	margin-top: 5px;
}

#lastModified {
    color: var(--yellow);
}