@media only screen and (min-width: 60em) {	
    
    .header-logo {
        margin-bottom: 20px;
    }

    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }

    header {
        grid-template-columns: 1fr 2fr 5fr 1fr;
        padding: 20px;
    }

	.header-logo {
		width: 180px;
		height: 108px;
        margin-right: 22.5px;
	}

    .social {
        grid-column: 4/5;
    }

    nav {
        grid-row: 1;
        grid-column: 3/4;
        padding: 0px 50px
    }

    main {
        grid-template-columns: 1fr 2fr 1fr;
        margin: 20px 30px;
    }

    main section {
        height: 200px;
    }

    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
        height: auto;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .news-release {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        height: auto;
    }

    .spotlights p {
        width: 80%;
        height: 170px;
        margin: 20px 15px;
    }

    .spotlights p:nth-child(3) {
        display: block;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bottom-logo {
        margin-left: 50px;
    }

    .bottom-chamber-title {
        margin-top: 40px;
    }

    .bottom-chamber-address {
        margin-top: -50px;
    }
}