@media only screen and (min-width: 60em) {	
    
    .header-logo {
        margin-bottom: 20px;
    }

    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }

    header {
        grid-template-columns: 1fr 2fr 5fr 1fr;
        padding: 20px;
    }

	.header-logo {
		width: 180px;
		height: 108px;
        margin-right: 22.5px;
	}

    .social {
        grid-column: 4/5;
    }

    nav {
        grid-row: 1;
        grid-column: 3/4;
        padding: 0px 50px
    }

    main {
        grid-template-columns: 1fr 2fr 1fr;
        margin: auto;
        align-items: center;
    }

    main section {
        height: 90%;
    }

    main section h3 {
        font-size: 1.5em;
    }

    .weekly-banner {
        grid-column: 1/4;
        width: 95%;
    }

    .hero {
        grid-column: 2/3;
        grid-row: 2/4;
        position: relative;
        height: 95%;
    }

    .hero h2 {
		font-size: 3em;
		top: 5%;
	}

	.hero h3 {
		top: 75%;
	}

	.hero p {
		display: block;
        grid-column: 2/3;
        grid-row: 3/4;
        position: absolute;
        top: 94%;
        background-color: black;
        color: white;
        padding: 2px;
        font-size: .8em;
	}

    .event {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .join {
        grid-column: 1/2;
        grid-row-start: 4;
        margin: auto 5px;
    }
    .news-release {
        grid-column: 2/3;
        grid-row-start: 4;
        margin-top: 0;
        padding: 0;
        height: 90%;
        margin: 15px 5px;
    }

    .news-release h3 {
        margin-top: 2%;
    }

    .spotlights {
        grid-column: 3/4;
        grid-row-start: 2;
        grid-template-columns: 1fr;
        height: auto;
    }

    .spotlights h3 {
        width: 80%;
        margin: 20px 15px;
    }

    #third-spotlight {
        display: block;
    }

    .gallery-img {
        grid-column: 3/4;
    }

    .demographics-question {
        grid-column: 1;
        margin-top: -10%;
    }

    .demographics-answer {
        grid-column: 2;
        margin-top: 15%;
        text-align: center;
        margin-left: 10%;
    }

    #membership {
        grid-template-columns: 1fr 1fr 5fr;
    }

	.thank-you {
		grid-column: 2;
        margin: 100px 0 200px 0;
	}

    .menu {
        grid-column: 2;
    }

    .businesses {
        max-width: 1000px;
        margin: 30px auto;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: rgba(164, 116, 30, .5);
        padding: 50px;
        border-radius: 15px;
        box-shadow: 0 0 10px black;
    }

    .businesses section {
        padding: 20px 10%;
        margin: 0;
    }

    .businesses section h2 {
        height: 60px;
        padding: 0;
    }

    .list-view section {
        padding: 10px;
    }

    .list-view section h2 {
        font-size: 1.2rem;
        height: auto;
    }

    .list-view section p {
        font-size: 1.2rem;
        margin: auto;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bottom-logo {
        margin-left: 50px;
    }

    .bottom-chamber-title {
        margin-top: 40px;
    }

    .bottom-chamber-address {
        margin-top: -50px;
    }
}